.showcase {
    background-color: hsl(0, 13%, 9%);
    color: white;
    text-align: center;
}

.services-container{
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.service-item {
    background-color: hsl(0, 9%, 15%);
    border: 1px solid hsl(31, 70%, 40%);
    border-radius: 8px;
    padding: 20px;
    width: 250px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.icon {
    height: 24px;
    width: 24px;
    align-self: center;
}

.service-item:hover {
    transform: translate3d(0, -5px, 0);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    background-color: hsl(0, 0%, 0%);
    border: 1px solid hsl(0, 0%, 87%);
}

.service-item h4 {
    font-size: 1.5em;
    color: hsl(31, 70%, 40%);
    text-align: center;
}

.service-description {
    font-size: 18px;
    color: hsl(31, 70%, 40%);
    text-align: center;
}